@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("./css/variables.css");
@import url("./css/navBar.css");
@import url("./css/eclipseElement.css");
@import url("./css/modal.css");
@import url("./css/button.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    max-width: 900px;
    margin: auto;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-font-color);
    background-color: var(--bg-color);
}